* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;

}

img {
  object-fit: cover;
}

.section-container {
  max-width: 1000px;
  margin: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding:10px;
  width: 1000px;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  list-style: none;
  padding: 0 18px;
}

#logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}
#hero-section {
  padding: 100px 0px;
}

#hero-section * {
  margin: 8px;
}

#hero-section, a {
  color: #F9FAF8;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

#hero-section button {
  background-color: #3882F6;
  color: white;
  padding: 6px 30px;
  border-style: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
}

#hero-left, #hero-right {
  padding: 8px;
  widows: 60%;
}

#hero-header {
  font-size: 48px;
  font-weight: bolder;
}

.hero-subtext {
  font-size: 18px;
}

.cards-header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 12px 0 36px 0;
}
.cards-background {
  background-color: white;
  padding: 80px;

}

.card-container {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

.qoute-bacground {
  background-color: #E5E7EB;
  padding: 80px;
}

.card {
  width: 200px;
  height: 200px;
  margin: 8px;

  border-style: solid;
  border-color: #3882F6 ;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 7px;
}

.qoute {
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
  color: #1F2937;
}

.author {
  text-align: right;
  font-weight: bold;
  margin-top: 8px;
}
.call-to-actoin {
  padding: 12px;
  margin: 12px;
  border-radius: 10px;
  border-radius: 10px;
}

.card-subtext {
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
  width: 200px;
}

.cta-background {
  background-color: white;
  padding: 36px;
}

.cta-secton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  background-color: #3882F6;
  padding: 60px;
  border-radius: 9px;
  color: white;
}

.cta-button {
  background-color: #3882F6;
  color: white;
  padding: 6px 30px;
  border-style: solid;
  border-color: white;
  border-radius: 9px;
  font-weight: bold;
}

.cta-heading {
  font-weight: bold;
  font-size: 24px;
}

footer {
  text-align: center;
  color: white;
  padding: 24px;
}
