* {
  box-sizing: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;

}

.section-container {
  max-width: 1000px;
  margin: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding:10px;
  width: 1000px;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  list-style: none;
  padding: 0 18px;
}

#hero-section, a {
  color: #F9FAF8;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

#hero-left, #hero-right {
  padding: 8px;
  widows: 60%;
}

#hero-header {
  font-size: 48px;
  font-weight: bolder;
}


.card-container{
  display: flex;
  max-width: 800px;
  margin: auto;
}

.card {
  width: 200px;
  height: 200px;
  background: wheat;
  margin: 10px;
}
